<div class="container">
    <div class="row text-center d-flex justify-content-center">
        <img src="assets/about.jpg" class="w-50">
        <h1>About Us</h1>
        <p>We work hard to nurture the health of your pet with wholesome, premium ingredients and recipes crafted for whole body health. And we nurture the health of our planet through our investment in regenerative agriculture, planet-friendly packaging and sustainable operations. Everything we do results in a better product.</p>
    </div>
</div>